doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/myfile.css')

    script(src="/javascripts/lib/wavesurfer.min.js")
  body
    block content
