body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropzone {
    //border 1px dotted black;
    width: 50px;
    float: right;
}

.instrument {
    //border 1px solid black;
}

.alternative {
    border: 1px solid black;
    height: 170px;
}

.alternativeList {
    border: 1px solid black;
}

.part {
    border: 1px solid black;
    width: 300px;
    float: left;
    padding: 15px;
}


.parts {
    border: 1px solid black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 5px;
}

.guitar {
    width: 20px;
    height: 13px;
}

.load {
    width: 25px;
}

.addPart {
    width: 80%;
    height: 30px;
}

.addInstrument {
    margin: 5px;
}