body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropzone {
    //border 1px dotted black;
    width: 50px;
    float: right;
}

.instrument {
    //border 1px solid black;
}

.alternative {
    border: 1px solid black;
    height: 48px;
}

.alternativeList {
    border: 1px solid black;
}

.part {
    border: 1px solid black;
    width: 300px;
    float: left;
    padding: 15px;
    height: 600px;
    overflow: auto;
    background-color: #fbfcfc;
}


.parts {
    border: 1px solid black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 5px;
}

.guitar {
    width: 20px;
    height: 13px;
}

.guitarButton {
    float: left;
    height: 35px;
    margin-top:5px;
}

.load {
    width: 20px;
}

.addPart {
    width: 80%;
    height: 30px;
    float: left;
}

.addPartButton {
    height: 36px;
}

.addInstrument {
    margin: 5px;
    height: 30px;
    width: 80%;
    float: left;
}

.audio {
    height: 28px;
    border: 1px solid black;
    width: 38%;
    float: right;
}

.loadButton {
    height: 30px;
}

.removeInstrument {
    height: 20px;
    margin-top: 3px;
}